services:

  # Bot стартует первым — генерирует RCON-пароль и пишет его в rconpw
  # до того как factorio-сервер его прочитает при запуске.
  bot:
    build: .
    container_name: factorio-bot
    ports:
      - "8080:8080"   # WebApp для загрузки сохранений
    volumes:
      - ./internal/factorio:/factorio                # данные сервера прямо из репо
      - /var/run/docker.sock:/var/run/docker.sock    # нужно для /stop и /startServer
    env_file: .env
    environment:
      RCON_HOST: factorio
      RCON_PORT: "27015"
      FACTORIO_GAME_HOST: factorio
      FACTORIO_GAME_PORT: "34197"
      FACTORIO_SAVES_DIR: /factorio/saves
      FACTORIO_RCON_PW_FILE: /factorio/config/rconpw
      FACTORIO_SERVER_SETTINGS_FILE: /factorio/config/server-settings.json
      DOCKER_CONTAINER_NAME: factorio
      FACTORIO_MODS_DIR: /factorio/mods
      FACTORIO_MOD_LIST_FILE: /factorio/mods/mod-list.json
      FACTORIO_VERSION: "2.0"
    restart: unless-stopped

  factorio:
    image: factoriotools/factorio:2.0.73    # При выходе обновы на клиент игры происходит сихронный выход factoriotools. Если попытаться зайти под разными версиями - УВИ, ошибка рассинхрона
    container_name: factorio
    ports:
      - "34197:34197/udp"   # игровой порт для подключения игроков
    volumes:
      - ./internal/factorio:/factorio
    restart: unless-stopped
    stop_grace_period: 60s
    depends_on:
      - bot
